* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background: linear-gradient(to right, #2E8B57, #87CEEB);
  height: 100vh;
}

.score, .options{
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#newGame {
  width: 5em;
  border-radius: 5px;
}

.winLoss {
  color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score h2, .options h2, .winLoss h2 {
  font-size: 30px;
}

.score p, .options p, .winLoss p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.option {
  display: flex;
  justify-content: center;
}

.hands {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.hand1 {
  transform: rotateY(180deg);
}

.butts {
  display: flex;
  justify-content: space-evenly;
}

#rock, #paper, #scissors {
  font-size: 2em;
  border-radius: 10px;
  width: 4em;
}