* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background: linear-gradient(to right, #2E8B57, #87CEEB);
  height: 100vh;
}

.score, .options{
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.winLoss {
  color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score h2, .options h2 {
  font-size: 30px;
}

.score p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.hands {
  display: flex;
  flex-direction: row;
}